<launch>

    <env name="ROS_MASTER_URI" value="http://10.104.66.40:11311"/>
    <env name="ROS_HOSTNAME" value="149.149.120.118" />

<node name="rviz" 
      pkg="rviz" 
      type="rviz" 
/>

  <node
	pkg="teleop_twist_keyboard"
	name="teleop_twist_keyboard"
	type="teleop_twist_keyboard.py" 
	output="screen"  
/>

</launch>
