<launch>


    <env name="ROS_MASTER_URI" value="http://10.100.66.35:11311" />
    <env name="ROS_HOSTNAME" value="robotlab-t1600" />

<node name="rviz" 
      pkg="rviz" 
      type="rviz" 
/>

  <node
	pkg="teleop_twist_keyboard"
	name="teleop_twist_keyboard"
	type="teleop_twist_keyboard.py" 
  />

</launch>
