<launch>

    <!-- read value of arg -->
    <param name="param" value="$(arg robot_ip)"/>
    <param name="param" value="$(arg control_ip)"/>

    <env name="ROS_MASTER_URI" value="http://$(arg robot_ip):11311" />
    <env name="ROS_IP" value="$(arg control_ip)" />

    <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find lx_control)/rviz/view_kinect.rviz">
    </node>

</launch>
